.guide {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: darkgrey;
  .title {
    font-size: 28px;
  }

  .list {
    .list-item {
      font-size: 20px;

      margin: 10px auto;
    }
  }
  .start {
    background-color: bisque;
    width:30%;
    margin:20px auto;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.6;
    cursor: pointer;
    transition:all 0.3s ease;
    &:hover{
        opacity:1;
        width:50%;
    }
    a {
      text-decoration: none;
    }
  }
}
